.App {
    max-width: 1200px;
    margin: 0 auto;
}

.App main {    
    border: 1px solid #0963ea38;
    border-radius: 20px;
    font-family: 'DM Serif Display', serif;
    margin: 30px auto;
    padding: 40px 70px 20px;
    
}

.App header {
    color: #0962ea;
    margin: 15px auto 60px;
    text-align: center;
    font-size: 55px;
}

.App a {
text-decoration: none;
color: #f8834d;
}

.App a:hover {
    text-decoration: none;
    color: #0962ea;
    }

.App .container {
    max-width: 750px;
}

.App footer {
    color: #0962ea;
    margin: 60px auto;
}