header, footer  {
    color: blanchedalmond;
}

.App {    
    margin: 60px auto;
    font-family: 'DM Serif Display', serif;
}

.App header {
    margin: 30px auto;
    text-align: center;
    font-size: 50px;
}

.App a {
text-decoration: none;
color: rgb(255, 251, 10);
}

.App .container {
    max-width: 750px;
}

.App footer {
    margin: 60px auto;
}