.Dictionary {
    font-size: 18px;
}

.Dictionary input {    
    background: white;
    border: 1px solid #0962ea;
    color: #0963eacb;
    padding: 4px 4px;
    width: 100%;
}

.Dictionary .loader {
    text-align: center;
    margin: 0 auto;
    display: block;
}