.Meanings {
    margin-top: 40px;
}

.Meanings h3 {
   color: #0962ea;
   font-size: 28px;
   margin: 12px auto;    
}

.Meanings .definitions {
    margin-top: 5px;
}

.Meanings .definitionTitle {
    color: #0962ea;
    font-size: 20px;
    margin-left: 15px;  
 }

 .Meanings .definitionText {
    color: #0e2649d3;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;  
    margin-left: 10px;
 }         
 
 .Meanings .examplesText {
    color: #0e254962;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;     
    margin-left: 10px;    
}

