.Phonetics {
    font-size: 30px;
    margin-top: 6px;
}

.Phonetics .phoneticAudio {
    color: #f8834db4;
   
}

.Phonetics .phoneticAudio:hover {    
    color: #0963eab0;
   
}

.Phonetics .phoneticText {
    color: #0963eab0;
    }