.Synonyms .synonymsTitle {
    color: #0962ea;
    font-size: 20px; 
    margin-left: 15px;  
}

.Synonyms li {
    display: inline-block;
    margin-left: 10px;
    color: #0e264994;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px; 
}